# Ignore object files and archives
*.o
*.a
*.zip

# Ignore specific folders
*nbody/
ps2-a/
ps3a

# Ignore specific files
*settings.json
*kenney_sokabanPack.zip
*kenney_sokabanPack/
Triangle
Sokoban
Sierpinsi
NBody
test
EDistance
TextWriter
RandWriter

# Ignore all sokoban folders and their contents
**/sokoban/
**/sokoban-Full/

**/sequence/
massif.*



# Ignore all .log and .rpt files
*.log
*.rpt

# Allow any device<number>_intouch.log.rpt files
!device[0-9]_intouch.log.rpt
!device[0-9][0-9]_intouch.log.rpt  # support two-digit device numbers too

# Re-ignore device<number>_intouch.log (non .rpt)
device[0-9]_intouch.log
device[0-9][0-9]_intouch.log

# Explicitly ignore *_BOOT.rpt files
*_BOOT.rpt

